$dark-navy-blue:#15182d;
$peacoat: #3f3d56;
$dark-blue: #03071E ;
$light-gray: #e0e2e6;
$grey:#b1b2b5;
$chocolate: #370617;
$dark-red: #6A040F;
$red: #9D0208;
$light-red: #D00000;
$dark-orange: #DC2F02;
$orange: #f58115; //(colore link della navbar in versione SM/MD)
$base-orange: #ff9654; //(colore link delle navbar LG)
$light-orange: #F48C06;
$dark-yellow: #FAA307;
$yellow: #FFBA08;


@import '~bootstrap/scss/bootstrap';
@import "./partials/create_form.scss";
@import "./partials/edit_form.scss";
@import "./partials/login_register.scss";
@import "./partials/index.scss";
@import "./partials/dashboard.scss";
@import "./partials/welcome.scss";

*{
    font-family: "PT Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.fit-content{
    width: fit-content;
}

.bg-blue{
    background-color: #3f3d56;
}



