#main_login{

    background-image: url("login_register/login-register-bg-blur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 85.45px);
}



.text_orange_color{
    color: $orange;
}

.bg_login{
    // background-color: $dark-navy-blue;
    background-color: #03071ec9
}

.bg_register{
    // background-color: $dark-navy-blue;
    background-color: #03071ec9
}

.over{
    overflow: hidden;
}

@media screen and (max-width:992px){
    .view_container_login{
        height: calc(100vh - 85.45px);

    }


}

@media screen and (min-width:992px) and (min-height:890px){

    .h-lg-auto{
        height: auto!important;
    }

    .rotondo{
        border-radius: 20px!important;
    }

}

.contenuto_fix{
    color: transparent;
}




.bg_trasp{
    // background-color: $dark-navy-blue;
    background-color: transparent;
    border-color: transparent;
}






#LogoDeliveboo{
    width: 200px;
    height: 200px;
}


.bg-nav{
    background-color: $dark-blue;
}

.link-orange{
    color: $orange;
    text-decoration: none;
}


.button_login{
    background-color: $orange;
}

.button_register{
    background-color: $orange;
}


#visible{
    top: 0;
    right: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 999rem 0px 0px 999rem;
    padding: 7px;
    transition: 0.5s ease-in;
    user-select: none;
    &:hover{
        padding-left: 15px;
        padding-right: 10px;
    }
}


#rule{
    background-color: rgba(75, 75, 75, 0.562);
    border-radius: 10px 10px 0 0;
}

